canvas {
    image-rendering: pixelated;
}
body {
    overflow-y: scroll;
}
button[disabled], button.disabled {
    cursor: not-allowed;
}
#template-output-accordian-btn {
    scroll-margin-top: 1em;
}
#important-accordion-button {
    filter: hue-rotate(60deg);
}
.emote {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: -22px;
}
.dggL.emote {
    background-image: url('res/dggL.png');
    width: 28px;
    height: 28px;
}
.PepoTurkey.emote {
    background-image: url('res/PepoTurkey.png');
    width: 34px;
    height: 28px;
}
.sodaSmile.emote {
    background-image: url('res/sodaSmile.png');
    width: 28px;
    height: 28px;
}
.progress {
    position: relative;
}
#generate-progress {
    height: 30px;
}
#generate-progress .progress-bar {
    transition: unset;
}
.progress-bar-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}
#generate-progress .progress-bar-label {
    font-size: 20px;
    font-weight: 600;
}
.black-outlined {
    color: white;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}
#random-pixel-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 0px 1px black;
    margin-bottom: -4px;
}
.hidden {
    visibility: hidden;
}
#version {
    z-index: 100;
}
#dark-mode-toggle {
    cursor: pointer;
    z-index: 100;
}
#dark-mode-toggle::before {
    margin-right: 8px;
    content: '☀';
}
html.dark #dark-mode-toggle::before {
    content: '🌒';
}
.theme-toggle .bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}
.theme-toggle .dropdown-menu .active .bi {
    display: block !important;
}
.flat-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.flat-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}