canvas {
    image-rendering: pixelated;
}
body {
    overflow-y: scroll;
}
.accordion-button:not([disabled]):hover {
    color: #094bad;
    background-color: #f0f6ff;
}
button[disabled], button.disabled {
    cursor: not-allowed;
}
#template-output-accordian-btn {
    scroll-margin-top: 1em;
}

#important-accordion-button.accordion-button:not(.collapsed) {
    color: #e40c0c;
    background-color: #ffe7e7;
}
#important-accordion-button.accordion-button.collapsed {
    color: #ad0909;
    background-color: #fff0f0;
}
#important-accordion-button.accordion-button:not([disabled]):hover {
    color: #e40c0c;
    background-color: #ffe7e7;
}
.emote {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: -22px;
}
.dggL.emote {
    background-image: url('res/dggL.png');
    width: 28px;
    height: 28px;
}
.PepoTurkey.emote {
    background-image: url('res/PepoTurkey.png');
    width: 34px;
    height: 28px;
}
.sodaSmile.emote {
    background-image: url('res/sodaSmile.png');
    width: 28px;
    height: 28px;
}